#########################
# Flake8 Configuration  #
# (.flake8)             #
# (formerly in tox.ini) #
#########################
[flake8]
ignore =
    # Related to import *
    F405
	E501
    # Import statements are in the wrong order
	I100
    # Imported names are in the wrong order
	I101
    # Don't complain about asserts
    S101
exclude =
    .tox,
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist,
    tests/fixtures/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs,
    data
max-complexity = 20
import-order-style = pycharm
application-import-names =
    pykeen
    tests
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
