#########################
# Flake8 Configuration  #
# (.flake8)             #
# (formerly in tox.ini) #
#########################

[flake8]
ignore =
    F405 # Related to import *
	E501
	I100  # Import statements are in the wrong order
	I101  # Imported names are in the wrong order
exclude =
    .tox,
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist,
    tests/fixtures/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs,
    src/try_and_Error,
    data
max-complexity = 10
import-order-style = pycharm
application-import-names = keen
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
