sudo: false
cache: pip
language: python
python:
- 3.6
- 3.7
stages:
  - lint
  - docs
  - test
env:
  - TOXENV=py
jobs:
  include:
    # lint stage
    - stage: lint
      env: TOXENV=manifest
    - env: TOXENV=flake8
    - env: TOXENV=vulture
    - env: TOXENV=xenon
    - env: TOXENV=pyroma
    # docs stage
    - stage: docs
      env: TOXENV=doc8
    - env: TOXENV=readme
    - env: TOXENV=docs
matrix:
  allow_failures:
      - env: TOXENV=flake8
      - env: TOXENV=vulture
      - env: TOXENV=xenon
      - python: 3.7
install:
    - sh -c 'if [ "$TOXENV" = "py" ]; then pip install tox codecov; else pip install tox; fi'
script:
- tox
after_success:
    - sh -c 'if [ "$TOXENV" = "py" ]; then tox -e coverage-report; codecov; fi'
