graft src
graft tests
prune notebooks
prune data

recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include docs *.png
recursive-include test_resources *.json
recursive-include test_resources *.tsv

include docs/Makefile
include config/config.ini

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

exclude .bumpversion.cfg .coveragerc .flake8 .travis.yml .readthedocs.yml doc8.ini
include LICENSE README.rst tox.ini
