graft src
graft tests

prune docs/source/api
prune notebooks

recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include docs/source *.png

include docs/Makefile
include config/config.ini

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

exclude .appveyor.yml .bumpversion.cfg .coveragerc .flake8 .travis.yml .readthedocs.yml tox.ini .pre-commit-config.yaml
include LICENSE *.md *.rst
