graft src
graft tests

prune docs/source/api
prune notebooks
prune benchmarking
prune tests/mlruns

recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include docs/source *.png
recursive-include docs/source *.svg

include docs/Makefile
include config/config.ini

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

exclude .bumpversion.cfg .coveragerc .flake8 .travis.yml .readthedocs.yml tox.ini .pre-commit-config.yaml .mailmap CITATION.bib
include LICENSE *.md *.rst
