dataclasses; python_version < "3.7"
numpy
scikit-learn==0.19.1; python_version == "3.6"
scikit-learn; python_version == "3.7"
scipy
click
click_default_group
ndex2
prompt_toolkit
tqdm
pandas
sphinx
sphinx-rtd-theme
sphinx-click
sphinx-autodoc-typehints
rdflib
