name: Common

on:
  push:
    branches:
      - master
  workflow_dispatch:
  pull_request:
    types: [review_requested, ready_for_review, auto_merge_enabled]
  pull_request_target:
    types: [auto_merge_enabled]

jobs:
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # no need to check documentation with multiple python versions
        python-version: [ "3.14" ]
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          # cache dependencies, cf. https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows
          cache: 'pip'
          cache-dependency-path: './pyproject.toml'
      
      - name: Install dependencies
        run: pip install tox tox-uv
      
      # - name: Check RST format
      #   run: tox -e doclint

      - name: Check README.rst
        run: tox -e readme

      - name: Check documentation build with Sphinx
        run: |
          sudo apt-get install graphviz
          tox -e docs-test
  tests:
    name: Tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [ "3.10", "3.14" ]
        # cannot use macos-latest for now, cf.
        # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#choosing-github-hosted-runners
        # cannot use Python 3.8
        # cannot use M1 at all, since PyG does not provide M1 packages...
        # include:
        #   - os: macos-14
        #     python-version: "3.11"

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          # cache dependencies, cf. https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows
          cache: 'pip'
          cache-dependency-path: './pyproject.toml'
      
      - name: Install dependencies
        run: pip install tox tox-uv
      
      - name: Run fast tests
        run: tox -e py
      
      - name: Run slow tests
        run: tox -e integration
      
      - name: Run doctests
        run: tox -e doctests
      
      # - name: Test notebooks
      #   run: tox -e treon

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
