name: Lint

on:
  push:
  workflow_dispatch:
  pull_request:
    types: [auto_merge_enabled]
  pull_request_target:
    types: [auto_merge_enabled, opened, synchronize]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.14" ]
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          # cache dependencies, cf. https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows
          cache: 'pip'
          cache-dependency-path: './pyproject.toml'
      
      - name: Install dependencies
        run: pip install tox tox-uv

      - name: Check static typing with MyPy
        run: tox -e mypy

      - name: Check code quality
        run: tox -e lint
  
  lint-single-version:
    name: Lint Single Version
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.14" ]
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        # cache dependencies, cf. https://docs.github.com/en/actions/using-workflows/caching-dependencies-to-speed-up-workflows
        cache: 'pip'
        cache-dependency-path: './pyproject.toml'
    
    - name: Install dependencies
      run: pip install tox tox-uv

    - name: Check package metadata with Pyroma
      run: tox -e pyroma
    
    - name: Check docstring coverage
      run: tox -e docstr-coverage

    - name: Check manifest
      run: tox -e manifest

    - name: Check RST conformity with doc8
      run: tox -e doc8


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}
